<td>{{firstName}}</td>
<td>{{lastName}}</td>
<td>
  <a href="#contacts/{{id}}" class="btn btn-default btn-sm x-show">
    <span class="glyphicon glyphicon-eye-open"></span>
    Show
  </a>
  <a href="#contacts/{{id}}/edit" class="btn btn-default btn-sm x-edit">
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  </a>
  <button type="button" class="btn btn-default btn-sm x-delete">
    <span class="glyphicon glyphicon-remove"></span>
    Delete
  </button>
</td>
