<form role="form">
  <div class="form-group">
    <label for="contact-firstName">First name:</label>
    <input id="contact-firstName" name="firstName" class="form-control"
        type="text" value="{{ firstName }}"/>
  </div>
  <div class="form-group">
    <label for="contact-lastName">Last name:</label>
    <input id="contact-lastName" name="lastName" class="form-control"
        type="text" value="{{ lastName }}"/>
  </div>
  <div class="form-group">
    <label for="contact-phoneNumber">Phone number:</label>
    <input id="contact-phoneNumber" name="phoneNumber" class="form-control"
        type="text" value="{{ phoneNumber }}"/>
  </div>
  <button class="btn btn-default x-submit">Save</button>
</form>
