<button class="btn btn-primary x-new">New Contact</button>
<form id="filter-form"
  class="x-filter-form form-search form-inline pull-right" role="form">
  <div class="input-group">
    <input type="text" class="search-query x-filter-criterion form-control">
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit">Filter contacts</button>
    </span>
  </div>
</form>
